In [1]:
from parameters import parameters

In [2]:
params = parameters()

In [3]:
# Import necessary functions from the project_inputs.py file
from projectinfo_widgets import create_project_info_widgets, get_inputs

In [ ]:
create_project_info_widgets()

In [ ]:
import projectinfo_widgets

In [ ]:
projectinfo_widgets.subcategory_dropdown.value

In [ ]:
import modelinputs_widgets

In [ ]:
from modelinputs_widgets import create_new_widgets

In [ ]:
create_new_widgets()

In [ ]:
modelinputs_widgets.PHV1NB_widget.value

In [ ]:
from travel_time import display_grouped_results_by_vehicle_period

In [16]:
display_grouped_results_by_vehicle_period()

--- NonPeak_NonHOV ---

,Combination,AverageVolume,AverageSpeed,AnnualPersonTrips,AverageTravelTime
24,NonPeak_NonHOV_Year1_NoBuild,0.0,0.0,0.0,#DIV/0!
25,NonPeak_NonHOV_Year1_Build,0.0,0.0,0.0,#DIV/0!
26,NonPeak_NonHOV_Year20_NoBuild,0.0,0.0,0.0,#DIV/0!
27,NonPeak_NonHOV_Year20_Build,0.0,0.0,0.0,#DIV/0!

--- NonPeak_Truck ---

,Combination,AverageVolume,AverageSpeed,AnnualPersonTrips,AverageTravelTime
32,NonPeak_Truck_Year1_NoBuild,0.0,0.0,0.0,#DIV/0!
33,NonPeak_Truck_Year1_Build,0.0,0.0,0.0,#DIV/0!
34,NonPeak_Truck_Year20_NoBuild,0.0,0.0,0.0,#DIV/0!
35,NonPeak_Truck_Year20_Build,0.0,0.0,0.0,#DIV/0!

--- NonPeak_Weaving ---

,Combination,AverageVolume,AverageSpeed,AnnualPersonTrips,AverageTravelTime
28,NonPeak_Weaving_Year1_NoBuild,0.0,0.0,0.0,#DIV/0!
29,NonPeak_Weaving_Year1_Build,0.0,0.0,0.0,#DIV/0!
30,NonPeak_Weaving_Year20_NoBuild,0.0,0.0,0.0,#DIV/0!
31,NonPeak_Weaving_Year20_Build,0.0,0.0,0.0,#DIV/0!

--- Peak_Arterial ---

,Combination,AverageVolume,AverageSpeed,AnnualPersonTrips,AverageTravelTime
20,Peak_Arterial_Year1_NoBuild,0.0,0.0,0.0,#DIV/0!
21,Peak_Arterial_Year1_Build,0.0,0.0,0.0,#DIV/0!
22,Peak_Arterial_Year20_NoBuild,0.0,0.0,0.0,#DIV/0!
23,Peak_Arterial_Year20_Build,0.0,0.0,0.0,#DIV/0!

--- Peak_HOV ---

,Combination,AverageVolume,AverageSpeed,AnnualPersonTrips,AverageTravelTime
0,Peak_HOV_Year1_NoBuild,7300.0,45.0,15695.0,0.0
1,Peak_HOV_Year1_Build,0.0,0.0,0.0,#DIV/0!
2,Peak_HOV_Year20_NoBuild,0.0,0.0,0.0,#DIV/0!
3,Peak_HOV_Year20_Build,0.0,0.0,0.0,#DIV/0!

--- Peak_NonHOV ---

,Combination,AverageVolume,AverageSpeed,AnnualPersonTrips,AverageTravelTime
4,Peak_NonHOV_Year1_NoBuild,0.0,0.0,0.0,#DIV/0!
5,Peak_NonHOV_Year1_Build,0.0,0.0,0.0,#DIV/0!
6,Peak_NonHOV_Year20_NoBuild,0.0,0.0,0.0,#DIV/0!
7,Peak_NonHOV_Year20_Build,0.0,0.0,0.0,#DIV/0!

--- Peak_Ramp ---

,Combination,AverageVolume,AverageSpeed,AnnualPersonTrips,AverageTravelTime
16,Peak_Ramp_Year1_NoBuild,0.0,0.0,0.0,#DIV/0!
17,Peak_Ramp_Year1_Build,0.0,0.0,0.0,#DIV/0!
18,Peak_Ramp_Year20_NoBuild,0.0,0.0,0.0,#DIV/0!
19,Peak_Ramp_Year20_Build,0.0,0.0,0.0,#DIV/0!

--- Peak_Truck ---

,Combination,AverageVolume,AverageSpeed,AnnualPersonTrips,AverageTravelTime
12,Peak_Truck_Year1_NoBuild,0.0,0.0,0.0,#DIV/0!
13,Peak_Truck_Year1_Build,0.0,0.0,0.0,#DIV/0!
14,Peak_Truck_Year20_NoBuild,0.0,0.0,0.0,#DIV/0!
15,Peak_Truck_Year20_Build,0.0,0.0,0.0,#DIV/0!

--- Peak_Weaving ---

,Combination,AverageVolume,AverageSpeed,AnnualPersonTrips,AverageTravelTime
8,Peak_Weaving_Year1_NoBuild,0.0,0.0,0.0,#DIV/0!
9,Peak_Weaving_Year1_Build,0.0,0.0,0.0,#DIV/0!
10,Peak_Weaving_Year20_NoBuild,0.0,0.0,0.0,#DIV/0!
11,Peak_Weaving_Year20_Build,0.0,0.0,0.0,#DIV/0!